{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Pokemon - Pikachu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore optio ullam, amet non odio, nobis autem, voluptate vero molestias fuga soluta quasi totam eveniet provident nam. Soluta neque aliquid aut!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/pika.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}